<link rel="stylesheet" href="views/startAnimation.css"/>

<!-- Экран загрузки -->
<div class="loading-screen">
    <img src="./assets/icon.png" alt="RefClient Logo"/>
    <span class="caption">RefClient</span>
    <span class="description">{{commons.starting}}</span>
</div>