<link rel="stylesheet" href="modals/eula.css"/>

<div class="modal overlay centered" id="modal-eula" style="display: none;">
    <div class="data"></div>

    <div class="buttons">
        <button class="confirm">Ok</button>
        <button class="decline sub">Exit</button>
    </div>
</div>

<script src="modals/eula.js"></script>